# Virtual Environments
venv/*
venv
oryx-build-commands.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.spec
# PyInstaller caches
*.manifest
*.log
*.tmp

# Windows specific
*.exe
*.dll
*.pyd
*.pdb

# macOS specific
.DS_Store

# VSCode
.vscode/

# Other common ignores
*.bak
*.swp
*.swo

# Node.js
node_modules

# Storm cell JSONs
*overlay_manifest.json

.kilo